body{
  background: linear-gradient(to right, #48bb78, #3b82f6, #9333ea); /* Green to Blue to Purple */
}

.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
   background: linear-gradient(to right, #48bb78, #3b82f6, #9333ea) !important;
}
@media (max-width: 768px) {
  .infos{
   margin-top: 370px !important;
   
  }
}